* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-number span {
  font-size: 28px;
}

.header-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.logo {
  height: 100px;
  margin-left: 2.5rem;
}

.bestindestin-img {
  height: 100px;
}

.header-right {
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.header-right i {
  color: #ea4335;
}

nav.navbar {
  position: relative;
  width: 50%;
  height: 4.1em;
  margin-top: 0px;
  color: white;
  background-color: #4bc0f0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto -50px auto;
  border-radius: 10px;
  border: 2px solid white;
}

.navbar-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  background-color: #4bc0f0;
  font-weight: 900;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
}

.navbar span {
  padding: 5px 0 5px 0;
}

.navbar span {
  -webkit-transition: border .2s ease-out;
  transition: border .2s ease-out;
}

.navbar i {
  margin-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar li:hover .nav-item {
  border-bottom: 2px solid white;
  border-radius: none;
}

.services-list-show li:hover .sub-nav-item {
  border-bottom: 2px solid white;
  border-radius: none;
}

.services-list-hide {
  display: none;
}

.services-list-show {
  position: absolute;
  top: 3.85em;
  left: 6em;
  border-radius: 8px;
  background-color: red;
}

.hero {
  height: 85vh;
  background-image: url("./images/photo2.jpg");
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.half-hero-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -20px;
}

.half-hero-1 h1 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  margin-bottom: 15px;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-top: 1rem;
}

.hero-list i {
  margin-right: 10px;
}

.header-links {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-brands {
  font-size: 29px;
  color: #2784c9;
  cursor: pointer;
}

.schedule-now {
  font-weight: 700;
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.schedule-now-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #46c9d7;
  border: 2px solid #46c9d7;
  gap: 5px;
  padding: 5px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.schedule-now-container:hover {
  background-color: white;
}

.schedule-now-container:hover .schedule-now {
  color: #46c9d7;
}

a {
  text-decoration: none;
}

.phone-icon {
  color: white;
  font-size: 24px;
}

.hero-item {
  list-style: none;
  color: white;
  font-size: 36px;
  font-weight: 400;
}

.hero p {
  margin-top: 20px;
  color: #2784c9;
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
}

.hero button {
  border: none;
  padding: 7px 16px;
  font-size: 20px;
  margin-top: 15px;
  border: 2px solid #fbbb00;
  background-color: #fbbb00;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.hero button:hover {
  background-color: white;
  color: #fbbb00;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background-color: #46c9d7;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
}

.container {
  height: 80vh;
}

.aboutus-container {
  background-color: white;
}

.services-container {
  color: blue;
}
/*# sourceMappingURL=App.css.map */